@import "./../../app/breakpoints.scss";
.slideshow {
    position: relative;
    width: 50%;
    height: 100%;

    .media {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }    
}


@include respond-below($bp-lg) {

    .slideshow {
        width: 100%;
        height: 40%;
    }
}
