.active {
    display: block;
}

.hide {
    display: none;
}

.menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* All menu button */
.menu > * { 
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.menu-btn-1 {
    color: var(--secondary-two);
    top: 40%;
}

.menu-btn-2 {
    color: var(--secondary-three);
    top: 50%;
}

.menu-btn-3 {
    color: var(--secondary-four);
    top: 60%;
}

