@import "./../../app/breakpoints.scss";

.timelineItem {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    font-size: 1.4rem;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    > div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }

    .role {
        font-size: 2.5rem;
    }
}

.descList {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

@include respond-below($bp-xs) {
    .timelineItem {
        font-size: 1.1rem;
    }

    .header { 
        font-size: 1.5rem;

        .role {
            font-size: 2rem;
        }
    }


    .descList {
        row-gap: 1.5rem;
    }
}