@import "./../breakpoints.scss";
.page {
    width: 100vw;
    display: flex;
    row-gap: 12rem;
    background: var(--primary-one);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding-top: 8rem;
}

.backarrowContainer {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

.mediaContainer {
    height: 100%;
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    .brick {
        background: var(--secondary-four);
        border-radius: 2rem;
        padding: 1rem;
        display: inline-block;
        transform-origin: bottom left;
        color: white
    }

    .reach {
        width: 19rem;
        transform: translate(9rem, 0.8rem) rotate(-33deg) 
    }
    
    .me {
        text-align: end;
        width: 19rem;
    }
    
    .reachMeArrow > img {
        width: auto;
        height: 100%;
        scale: 0.7;
        transform: rotate(-45deg);
    }
    
    .me, .reachMeArrow {
        transform: translateX(4.5rem);
    }
}

.childBreak {
    flex-basis: 100%;
    height: 0;
}

.background {
    background-color: black;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

@include respond-below($bp-xs)  {
    
    .page {
        height: 100%;
    }

    .mediaContainer {
        margin-top: 50%; /* We rotate Card and offset by same amount */
        font-size: 3rem;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        .brick {
            color: white; /* for Safari mobile browser */
        }

        .reach {
            width: 10rem;
            transform: translate(2rem,3.5rem) rotate(-33deg) 
        }
        .me {
            text-align: end;
            width: 13rem;
            transform: translateY(2.7rem)
        }

        .reachMeArrow {
            scale: 0.7;
        }
    }

    .childBreak {
        display: none;
    }

}