.page {
    width: 100vw;
    height: 100vh; /* Fullscreen */
    display: flex;
    column-gap: 10rem;
    background: var(--primary-one);

    box-sizing: border-box;
    position: relative;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem;
    padding-right: 0;
}

.media-container {
    height: 100%;
    width: 100%;
    font-size: 6rem;
    padding: 8rem;
    padding-left: 0;
}

.background {
    background-color: black;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.backarrow-container {
    position: absolute;
    padding-top: 2rem;
    padding-left: 2rem;
    cursor: pointer;
}