.background{
    transition: opacity 0s linear 0.1s;
}

.route{
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    z-index: 3; /* Want text above our transition */
    transform: translateX(-50%);
    text-align: center;
}



.svg, .background{
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 2; /* Since we are not using Component to change page, We need the transition to happen above our page */
    fill: var(--bg-transition-color);
}