.media {
    cursor: pointer;
    display: inline-flex;
    padding: 1rem;
    border-radius: 2rem;
    position: absolute;
}

.media:hover{
    z-index: 1
}

.variant1 {
    color: var(--secondary-one);
    /* background: var(--secondary-one); */
    transform: rotate(-5deg);
    top: 10vh;
    left: 50vw;
}

.variant2 {
    color: var(--secondary-one-two);
    /* background: var(--secondary-one-two); */
    justify-content: flex-end;
    transform: translateX(2rem) rotate(-10deg);
    top: 27vh;
    left: 60vw;
}

.variant3 {
    color: var(--secondary-one-three);
    /* background: var(--secondary-one-three); */
    transform: translateX(-2rem) rotate(10deg);
    top: 50vh;
    left: 55vw;
}

.variant4 {
    color: var(--secondary-one-four);
    /* background: var(--secondary-one-four); */
    justify-content: flex-end;
    transform: translateX(4rem) rotate(-5deg);
    top: 72vh;
    left: 65vw;
}