@import "./../../app/breakpoints.scss";

.media {
    cursor: pointer;
    display: inline-flex;
    padding: 1rem;
    border-radius: 2rem;
    flex-basis: 0; /* Ensures they take only required space */
    box-sizing: border-box;
}

.github {
    color: transparent;
    background: var(--github-bg-color);
    /* transform: rotate(-5deg); */
}

.linkedin {
    color: transparent;
    background: var(--linkedin-bg-color);
    justify-content: flex-end;
    /* transform: translateX(2rem) rotate(-10deg); */
}

.instagram {
    color: transparent;
    background: var(--instagram-bg-color);

    /* transform: translateX(-2rem) rotate(10deg); */
}

.email{
    color: transparent;
    background: var(--email-bg-color);
    justify-content: flex-end;
    /* transform: translateX(4rem) rotate(-5deg); */
}

@include respond-below($bp-xs) {

    .github, .linkedin, .instagram, .email {
        color: white;
    }

    .github{
        align-self: flex-end;
    }
    .linkedin {
        align-self: flex-start;
    }
    .instagram {
        align-self: flex-start;
    }
    .email{
        align-self: center;
    }

}