@import "./../../app/breakpoints.scss";
.portfolioPage {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    box-sizing: border-box;
}


.nav {
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.portfolioImage {
    max-width: 800px;
    width: 45%; 
}

.report {
    flex-basis: 100%;
    width: auto;

    .portfolioImage {
        max-width: 800px;
        width: 25%; 
    }
}

.ytShorts {
    width: 100%;
    max-width: 315px; /* Mobile */
    aspect-ratio: 9/16;
}

.textbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5rem;
    font-size: 1.2rem;
    white-space: pre-line; /* adding \n => start new line */

    color: var(--secondary-one);

    > div {
        display: flex;
        column-gap: 5rem;
        justify-content: space-around;
    }
}

.copyMedia {
    width: 100%;
    height: auto;
}

@include respond-below($bp-lg) {
    .portfolioPage {
        flex-direction: column;
        padding: 0 3rem;

        .textbox {
            width: 100%;
            font-size: 1rem;
            > div {
                justify-content: space-between;
                column-gap: 0;
            }
        }
    }
}