@import "./../breakpoints.scss";
.page {
    width: 100vw;
    min-height: 100dvh;
    background: var(--primary-one);
}

.view {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10rem;
    color: var(--secondary-four);
}

.viewIntro {
    position: absolute;
    font-size: 2rem;
    transform: rotate(-20deg);
    right: 16%;
    bottom: 15%;
    z-index: 1;
}

.viewIntro::after {
    content: "Scroll..."
}

.backarrowContainer {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

@include respond-below($bp-xs)  {
    .view {
        padding: 4rem;
    }

    .viewIntro {
        right: 7%;
        bottom: 13%;
    }

    .viewIntro::after {
        content: "Swipe..."
    }
}