.dial {
    /* aspect-ratio: 2.2 / 1; */
    width: 10vw;
    height: 10vh;
    position: relative;
    cursor: ns-resize;

    /* Centering the text */
    display: flex;
    align-items: center;
    justify-content: center;

}

.dial > * {
    position: absolute;
}

.dial-inner {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--primary-one);
    border-radius: 50%;
}

.dial-outer-active {

    width: 6rem;
    aspect-ratio: 1;
    background: conic-gradient(
        var(--dial-active) var(--deg), 
        transparent 0
    );


    mask: radial-gradient(circle, white 70%, transparent 71%);
    -webkit-mask: radial-gradient(circle, white 70%, transparent 71%);
}

.dial-outer {
    width: 6rem;
    height: 6rem;
    background-color: var(--primary-two);
    border-radius: 50%;
}

.handle {
    width: 1rem;
    height: 3.5rem;
    border-radius: 2rem;
    transform: rotate(var(--deg)) translateY(-50%);
    transform-origin: 50% 50%;
}

.handle-off {
    transition: transform 2s;
}

.handle-on {
    transition: transform 0.1s;
}

.color1 {
    background: var(--secondary-one);
}

.color2 {
    background: var(--secondary-two);
}

.color3 {
    background: var(--secondary-three);
}

.color4 {
    background: var(--secondary-four);
}