
.card {
    width: 34rem;
    height: 19rem;
    background-color: transparent;
    perspective: 1000px; /* important */
    cursor: pointer;
    flex-shrink: 0; /* Prevent shrinking */
}

.cardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardInner > * {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden; /* Hide when object flipped ons its back */
    box-shadow : 0 1px 10px #5F5F5D;
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    color: var(--card-text);
    background-color: var(--card-bg);
}   

.cardBack {
    transform: rotateY(180deg); /* Flip so the back is facing the correct way */
    padding: 0.6rem;
    color : var(--card-eng-text);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover .cardInner {
    transform: rotateY(-180deg);
}
  
.cardFrontGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 2fr 4fr 1fr 3fr 3fr 4fr 6fr;
    grid-template-rows: 2fr repeat(2,1fr) repeat(2,2fr) repeat(3,1fr) repeat(3,2fr) repeat(4,1fr);
    flex-direction: column;
    /* row-gap: 0.2rem; */
}

.eng {
    color: var(--card-eng-text);
}

.cardInfo:nth-child(1) { /* Logo */ 
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    /* background: blue; */
    height: 100%;
    width: auto;
    justify-self: center;
}

.cardInfo:nth-child(2) { /* บัตรประจำตัวอิเล็กทรอนนิค Digital ID */ 
    grid-row: 1 ;
    grid-column: 3 / -1 ;
    font-size: 1rem;
}

.cardInfo:nth-child(3) { /* เลขบัตรประจำตัว */ 
    grid-row: 2 ;
    grid-column: 3 / end ;
}

.cardInfo:nth-child(n + 3) {
    font-size: 0.7rem;
}

.cardInfo:nth-child(n + 3) > span {
    font-size: 0.9rem;
}

.cardInfo:nth-child(4) { /* Identification Number */ 
    grid-row: 3 ;
    grid-column: 3 / end ;
}

.cardInfo:nth-child(5) { /* X XXXX XXXXX 74 2 */ 
    grid-row: 2 / span 2 ;
    grid-column: 6 / end ;
    font-size: 0.9rem;
}

.cardInfo:nth-child(6) { /* ชื่อตัวและชื่อสกุล <span>นาย พันธกรณ์ ปรุศุดำเกิง</span> */
    grid-row: 4;
    grid-column: 2 / end;
}

.cardInfo:nth-child(6) > span { /* นาย พันธกรณ์ ปรุศุดำเกิง */
    font-size: 1.1rem;
}

.cardInfo:nth-child(7) { /* Name Mr. Phantakorn */
    grid-row: 5;
    grid-column: 4 / -1;
    align-self: center;
}

.cardInfo:nth-child(8) { /* Last name Prarusudamkerng */
    grid-row: 6;
    grid-column: 4 / -1;
}


.cardInfo:nth-child(9) { /* เกิดวันที่ 19 ส.ค. 2544 */
    grid-row: 7 / span 2;
    grid-column: 5 / -1;
    align-self: center;
}


.cardInfo:nth-child(10) { /* Date of Birth 19 Aug. 2001 */
    grid-row: 9;
    grid-column: 5 / -1;
    align-self: center;
}


.cardInfo:nth-child(11) { /* ที่อยู่ XX XXXX XXXX XXXX */
    grid-row: 10 / span 2;
    grid-column: 2 / span 5;
    font-size: 0.8rem;
    align-self: flex-end;
}

.cardInfo:nth-child(12) { /* 15 มี.ค 2568  */
    grid-row: 12;
    grid-column: 2 / span 2;
}

.cardInfo:nth-child(13) { /* วันออกบัตร */
    grid-row: 13;
    grid-column: 2 / span 2;
}

.cardInfo:nth-child(14) { /* 15 Mar. 2025 */
    grid-row: 14;
    grid-column: 2 / span 3;
}

.cardInfo:nth-child(15) { /* Date of Issue */
    grid-row: 15;
    grid-column: 2 / span 2;
    padding-bottom: 0.6rem;
}

.cardInfo:nth-child(16) { /* 26 มี.ค 2576  */
    grid-row: 12;
    grid-column: 8;
}

.cardInfo:nth-child(17) { /* วันบัตรหมดอายุ */
    grid-row: 13;
    grid-column: 8;
}

.cardInfo:nth-child(18) { /* 26 Mar. 2033 */
    grid-row: 14;
    grid-column: 8;
}

.cardInfo:nth-child(19) { /* Date of Expiry */
    grid-row: 15;
    grid-column: 8;
}


.cardInfo:nth-child(20) { /* ร้อยตำรวจโท */
    grid-row: 12;
    grid-column: 5 / span 2;
    z-index: 1; 
}

.cardInfo:nth-child(21) { /* (Childish Jambino) */
    grid-row: 14 ;
    grid-column: 4 / span 4;
    justify-self: center;
    z-index: 1; 
}

.cardInfo:nth-child(22) { /* เจ้าพนักงานออกบัตร */
    grid-row: 15 ;
    grid-column: 4 / span 4;
    justify-self: center;
}

.cardInfo:nth-child(23) { /*  XXXX-XX-XXXXXXXX */
    grid-row: 15;
    grid-column: end;
    font-size: 0.5rem;
    align-self: center;
}

.cardInfo:nth-child(24) { /* Image */
    grid-row: 9 / span 6;
    grid-column: end;
    align-self: center;
}

.cardInfo:nth-child(25) { /* Chip */
    grid-row: 5 / span 5;
    grid-column: 2 / span 2;
    align-self: center;
}


.stamp {
    position: absolute;
    left: 57%;
    top: 18%;
    height: auto;
    width: 210px;
}

.barcode {
    grid-row: 5 / -1;
    grid-column: 1 ;
    align-self: center;
    height: 100%;
    background: var(--card-barcode-bg);
    padding: 0.4rem 0 1rem 1.2rem;
    margin-right: 1rem;
}

.stampSig{
    position: absolute;
    width: 100px;
    height: auto;
    top: 72%;
    left: 37%
}

.sig{
    position: absolute;
    width: 70px;
    height: auto;
    top: 72%;
    left: 46%
}

.green {
    color: #396555;
}

.red {
    color : var(--card-text);
}

.cardBack > div {
    display: flex;
    justify-content: space-around;
}