.page {
    width: 100vw;
    height: 100vh; /* Fullscreen */
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--primary-one);
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 30px;
    
    /* Dynamically adjust the number of columns */
    grid-template-columns: repeat(7, 11em);
    grid-template-rows: repeat(7, 5em);
    
    /* Ensure even spacing */
    justify-content: center;
    align-content: center;
    grid-auto-flow: dense;

}


