:root {
  --primary-one: #E1D9C1;
  --primary-two: #C7C9BB;
  --secondary-one: #5E5E31;
  --secondary-one-two: #C3C747;
  --secondary-one-three: #F99177;
  --secondary-one-four: #FF7070;

  --secondary-two: #3D6DD6;
  --secondary-three: #8F70C7;
  --secondary-four: #894E38;

  --dial-active: #87DEBE;
  --title-color: var(--primary-two);

}

.unselect {
  /* Make disable text selection */
  user-select: none;
  -webkit-user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#filters {
  display: none; /* Hide the SVG filter for text morph */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
